<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
	<head>
		<th:block th:replace="~{fragments/head :: head}"></th:block>
		<title>Pacientes</title>
	</head>
	<body>
		<header th:replace="~{fragments/header :: header}"></header>
		<main class="bg-body-secondary bg-gradient w-100 h-100 p-4">
			<section class="container-fluid">
				<h2>Listado de Pacientes</h2>

				<article
					class="card my-3 shadow"
					th:each="patient : ${patients}"
				>
					<div class="card-header">
						<h3>Nombre: <span th:text="${patient.name}"></span></h3>
					</div>
					<div class="card-body">
						<h3>Datos:</h3>

						<ul class="list-group">
							<li class="list-group-item">
								DNI: <span th:text="${patient.dni}"></span>
							</li>
							<li class="list-group-item">
								Fecha de nacimiento:
								<span th:text="${patient.birthDate}"></span>
							</li>
						</ul>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>
